* {
    background: rgba(50, 50, 24, 0.7);
    primary: #cbcb76;
    primary-fixed: #e7e790;
    primary-fixed-dim: #cbcb76;
    on-primary: #323200;
    on-primary-fixed: #1d1d00;
    on-primary-fixed-variant: #494900;
    primary-container: #494900;
    on-primary-container: #e7e790;
    secondary: #cac8a5;
    secondary-fixed: #e6e4bf;
    secondary-fixed-dim: #cac8a5;
    on-secondary: #323218;
    on-secondary-fixed: #1c1d06;
    on-secondary-fixed-variant: #48482d;
    secondary-container: #48482d;
    on-secondary-container: #e6e4bf;
    tertiary: #a4d0bd;
    tertiary-fixed: #bfecd9;
    tertiary-fixed-dim: #a4d0bd;
    on-tertiary: #0a372a;
    on-tertiary-fixed: #002117;
    on-tertiary-fixed-variant: #254e40;
    tertiary-container: #254e40;
    on-tertiary-container: #bfecd9;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #14140c;
    on-surface: #e6e3d5;
    on-surface-variant: #c9c7b6;
    outline: #939182;
    outline-variant: #48473a;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e6e3d5;
    inverse-on-surface: #313128;
    inverse-primary: #616219;
    surface-dim: #14140c;
    surface-bright: #3a3a30;
    surface-container-lowest: #0f0f07;
    surface-container-low: #1c1c14;
    surface-container: #202018;
    surface-container-high: #2b2a22;
    surface-container-highest: #36352c;
}
