:root {
  --surface: {{colors.surface.default.hex}};
  --on-surface: {{colors.on_surface.default.hex}};
  --on-surface-variant: {{colors.on_surface_variant.default.hex}};
  --primary: {{colors.primary.default.hex}};
}
